@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --background: #edf2f4;
  --foreground: #2b2d42;
  --accent: #7b8831;
}

.dark {
  --background: #2b2d42;
  --foreground: #edf2f4;
  --accent: #fa7c8a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), Arial, sans-serif;
}
